*.elc
*.pyc
auto-save-list/*
backups/*
emacs-places
games/
tramp
pass.org.gpg
swank/
url/
elpa/archives/*
elpa/jedi-0.1.2/env/
eshell/history
ac-comphist.dat
.python-environments

org
bookmarks
org-clock-save.el
cider-history
