.DS_Store
*.elc
*.pyc
auto-save-list/*
backups/*
emacs-places
games/
tramp
pass.org.gpg
swank/
url/
elpa/archives/*
elpa/jedi-0.1.2/env/
elpa/*readme.txt
eshell/history
ac-comphist.dat
.python-environments
.mypy_cache
jabber-history/
jabber-avatar-cache/
plugins/.mypy_cache
ido.last
request/

org
bookmarks
org-clock-save.el
cider-history
history
.org-id-locations
.emacs.desktop*
*.plstore*
projectile-bookmarks.eld
projectile.cache
